# Ignore everything
*

# But not main.py
!main.py
!.gitignore
!gemini-kokoro.py
!README.md
!requirements.txt
!CLAUDE.md

# Python specific
__pycache__/
*.py[cod]
*$py.class

# Model files
*.onnx

# Data files
*.wav
*.json

# Environment
env/
.env